*{
   font-family: 'Roboto', sans-serif;;
   box-sizing: border-box;
}
header {
   width: 100%;
   background-color: #404EED;
}

header img {
   margin: 16px 80px;
}

main {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

strong {
   font-size: 20px;
   color: #232323;
   font-weight: bold;
}

.imagem {
   background-color: #404EED;
   padding: 31px;
}

footer {
   font-size: 24px;
   width: 100%;
   background-color: #F2F2F2;
   padding: 20px;
}

.ultimos-pedidos {
   width: 90%;
   margin: 10px 80px;
}

.ultimos {
   width: 100%;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 15px;
}

.pedido {
   background-color: white;
   border-radius: 10px;
   font-size: 20px;
   padding: 10px;
}

.pedido img {
   width: 180px;
   height: 180px;
   margin: 3px;
}

.painel {
   width: 55%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-items: space-between;
   font-size: 18px;
}

.escolha {
   width: 70%;
   height: 160px;
   margin: 15px;
}

.escolha p {
 margin-bottom: 10px;
}

.opcoes {
   display: flex;
   align-items: center;
   justify-content: space-between;
   text-align: center;
}

.opcao:hover {
   cursor: pointer;
}

.icone {
   width: 100px;
   height: 100px;
   background: #F2F2F2;
   border: 0.5px solid #C4C4C4;
   border-radius: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 10px;
}

.icone img {
   width: 100%;
   max-width: fit-content;
}

.icone:hover {
   border: 1px solid #404EED;
}

.referencia {
   width: 70%;
   height: 80px;
   margin-top: 15px;
}

input {
   width: 100%;
   height: 40px;
   border:none;
   background: #F2F2F2;
   border-radius: 10px;
   margin-top: 10px;
   padding:15px;
}

input::placeholder {
   font-size: 14px;
}

.confirmar {
   width: 70%;
   height: 50px;
}

button {
   width:100%;
   height: 40px;
   color:#FCFCFC;
   text-align: center;
   border: none;
   background: #c4c4c4;
   border-radius: 10px;
   font-size: 20px;
}
